/* global.css */
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

:root {
	--bg-color: #f0f7fb;
  --second-bg-color: #ffffff;
  --overlay: #081b29;
  --text-color: #1e293b;
  --main-color: #00acf0c9;
  --main-color-light: #cfeeff;
  --title-accent: #4f8cff;
  --certification-hover: #cfeeff;
}

[data-theme="dark"] {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --overlay: #143852;
  --text-color: #ededed;
  --main-color: #3b82f6;
  --main-color-light: #85dcff;
  --title-accent: #6ea8ff;
  --certification-hover: #143852;

}

[data-theme="light"] {
  --bg-color: #f0f7fb;
  --second-bg-color: #ffffff;
  --overlay: #081b29;
  --text-color: #1e293b;
  --main-color: #00abf0;
  --main-color-light: #cfeeff;
  --title-accent: #3b82f6;
  --certification-hover: #cfeeff;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

/* generic section layout */

section {
  padding: 5rem 13%;

}

section:nth-of-type(odd) {
  background-color: var(--bg-color);
}

section:nth-of-type(even) {
  background-color: var(--second-bg-color);
}

section h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 4rem;
  text-align: center;

  background: linear-gradient(
    180deg,
    var(--main-color-light) 0%,
    var(--title-accent) 30%,
    var(--main-color) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}


/* ============================= */
/* BREAKPOINTS */
/* ============================= */

@media (max-width: 1200px) {

  html {
    font-size: 55%;

  }
}

/* tablets */
@media (max-width: 991px) {

  section {
    padding: 8rem 6% 4rem;
  }
}

/* small tablets */

@media (max-width: 900px) {

  /* experience responsibilities go vertical */
  .list {
    grid-template-columns: 1fr !important;
  }
}

/* mobile */
@media (max-width: 768px) {

  html {
    font-size: 52%;
  }

  section {
    padding: 3rem 6% 3rem;
  }

  /* timeline alignment */

  .timelineItem {
    gap: 1rem;
  }

  /* experience card spacing */

  .card {
    padding: 1.4rem;
  }
}


/* small mobile */
@media (max-width: 565px) {

  html {
    font-size: 50%;
  }
}


/* very small devices */
@media (max-width: 400px) {

  html {
    font-size: 48%;
  }
}